@charset "UTF-8";

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    

}
.item-box1{
    background-color: #0011ff;
    color: white;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    flex-grow: 1;
    flex-basis: 50px;
    order: 3 ;
    padding: 10px;
    margin: 10px;
}
.item-box2{
    background-color: #ff0000;
    color: white;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    flex-grow: 2;
    flex-basis: 150px;
    order: 2;
}
.item-box3{
    background-color: #5900ff;
    color: white;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    flex-grow: 3;
    flex-basis: 100px ;
    order: 1;
    padding: 10px;
    margin: 10px;
}