@charset "UTF-8";


*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50px, -50px);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.caixa {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: relative;
  top: 30px;
  left: 50px;
}

form{
  background-color: rgb(51, 144, 231);
  margin: auto;
  width: 250px;
  text-align: center;
  padding: 10px;
  position: relative;
  top: 10%;
  border-radius: 5px;
  
  
}

form > p {
  padding-bottom: 15px;
  text-align: left;
  
}

form > p > input{
  border-radius: 5px;
  
}
button{
  padding: 5px;
  border-radius: 5px;
}
input{
  
}